<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" type="text/css">
    <title>Your Forecast</title>
</head>
<body>
<div class="ww-wrapper">
    <div class="ww-row">
        <div class="cityContainer">
            <div class="weatherDesc"  th:text="${today.getDescLarge()}"></div>
            <div class="iconTempWrapper">
                <div class="weatherIcon" th:text="${today.getIcon()}">
                </div>
                <div class="tempAndCity">
                    <p class="weatherTemp" th:text="${today.getAvgTemp()} +'°F'">°F</p>
                    <p class="cityName" th:text="${user.getLocation()}"/>
            </div>
        </div>
        <div class="weatherForecast" th:each="forecast : ${mdf.getForecast()}">
            <div class="forecastCard"><p th:text="${forecast.forecastDayName()}" />
                <p class="forecastIcons" th:text="${forecast.getIcon()}"/>
                <p class="forecastMax" th:text="${forecast.getMaxTemp() + '°'}"/>
                <p class="forecastMin" th:text="${forecast.getMinTemp() + '°'}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>